.feed_post_container {
  /* border: 1px solid black; */
  display: flex;
  /* max-width: 100px;
  max-height: 200px; */
  padding: 20px;
  /* position: relative; */
}
.user_image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.user_detail {
  margin-left: 38.6px;
}

.user_title {
  font-weight: 700;
  margin-bottom: 10px;
  cursor: pointer;
}
