.single-post-contianer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(0, 21%, 89%);
  margin: 0% 10% 0% 10%;
  padding: 2%;
}
.back-arrow {
  padding: 20px;
  font-size: 1.4em;
}
