.main_feed_container {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  margin-left: 20%;
}
.member-title {
  margin: 20px;
}

.posts_container {
  border: 1px solid #e9dddd;
  max-width: 60%;
}

.users-container {
  /* margin-right: 10%; */
}

.loading-indicator {
  text-align: center;
  padding: 30px;
  font-size: large;
}
