.main_feed_container {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  /* flex-direction: column; */
  /* grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr); */
  /* align-content: center; */
  /* align-items: center; */
  /* justify-content: center; */
}
.member-title {
  margin: 20px;
}
